@font-face {
    font-family: 'Open Sans';
    src: url('../fonts/opensans.eot');
    src: url('../fonts/opensans.eot?#iefix') format('embedded-opentype'),
         url('../fonts/opensans.woff') format('woff'),
         url('../fonts/opensans.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Open Sans';
    src: url('../fonts/opensanslight.eot');
    src: url('../fonts/opensanslight.eot?#iefix') format('embedded-opentype'),
         url('../fonts/opensanslight.woff') format('woff'),
         url('../fonts/opensanslight.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Gilroy';
    src: url('../fonts/gilroyextrabold.eot');
    src: url('../fonts/gilroyextrabold.eot?#iefix') format('embedded-opentype'),
         url('../fonts/gilroyextrabold.woff') format('woff'),
         url('../fonts/gilroyextrabold.ttf') format('truetype');
    font-weight: 800;
    font-style: normal;
}

@font-face {
    font-family: 'Gilroy';
    src: url('../fonts/gilroylight.eot');
    src: url('../fonts/gilroylight.eot?#iefix') format('embedded-opentype'),
         url('../fonts/gilroylight.woff') format('woff'),
         url('../fonts/gilroylight.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}

body {
    margin: 0;
    padding: 0;
    font-family: "Gilroy", Arial, sans-serif;
    font-size: 18px;
    line-height: 24px;
    font-weight: 800;
    font-style: normal;
    color: #000;

    background-color: #fff;
}

a {
    text-decoration: none;
    color: #000;
}

img {
    max-width: 100%;
    height: auto;
}

.container {
    width: 1160px;
    padding: 0 20px;
    margin: 0 auto;
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.button {
    position: relative;
    z-index: 10;
    display: inline-block;
    padding: 8px 40px;
    font-family: "Gilroy", Arial, sans-serif;
    font-size: 18px;
    line-height: 24px;
    font-weight: 800;
    text-transform: uppercase;
    text-align: center;
    vertical-align: top;
    overflow: hidden;
    color: #000;
    cursor: pointer;
    letter-spacing: 0.2em;
}
.button::after {
    content: "";
    width: 100%;
    height: 8px;
    background-color: #f0c52e;
    position: absolute;
    top: 16px;
    left: 0;
    z-index: -1;
}
.button:hover::after {
    top: 0;
    height: 100%;
    transition: .2s;
}
.button:active {
    opacity: 0.7;
}

/* HEADER */
.main-header {
    width: 1038px;
    min-height: 300px;
    margin: 40px auto 0;
    padding: 0 60px;
    background-color: #f7e296;
    border: 1px solid transparent;
    display: flex;
    flex-direction: column;
}
.header-logo {
    width: 175px;
    margin: -25px 0 12px 0;
    font-family: "Gilroy", Arial, sans-serif;
    font-size: 48px;
    line-height: 48px;
    font-weight: 800;
    text-transform: uppercase;
}
.header-logo:hover {
    opacity: 0.6;
}
.header-logo:active {
    opacity: 0.3;
}
.main-navigation {
    display: flex;
    justify-content: space-between; 
    margin-bottom: 30px;
}
.search-form {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    width: 440px;
}
.search-form input[type="text"] {
    width: 100%;
    font-size: 15px;
    line-height: 30px;
    background: none;
    border: none;
    border-bottom: 2px solid #000;
    outline: none;
    padding: 7px 25px 7px 40px;
    background: url(../img/svg-device/search.svg) 2px center no-repeat ;
}
.search-form input[type="submit"] {
    display: inline-block;
    font-size: 15px;
    line-height: 30px;
    padding: 6px 25px;
    border: 2px solid #000;
    background: none;
    cursor: pointer;
    vertical-align: top;
}
.search-form input[type="submit"]:hover {
    background: #000;
    color: #fff;
}
.user-navigation,
.site-navigation,
.catalog-sub-menu {
    margin: 0;
    padding: 0;
    list-style: none;
}
.user-navigation {
    width: 500px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.user-navigation li {
    padding: 7px 0;
}
.user-navigation a {
    padding-left: 27px;
    font-family: "Open Sans", Arial, sans-serif;
    font-size: 15px;
    line-height: 30px;
    font-weight: 300;
    color: #000;
}
.user-navigation .login-link {
    margin-right: 170px;
    background: url(../img/svg-device/user.svg) left center no-repeat;
}
.user-navigation .compare-link {
    background: url(../img/svg-device/compare.svg) 8px center no-repeat;
}
.user-navigation .basket-link {
    background: url(../img/svg-device/cart.svg) left center no-repeat;
}
.main-header .user-name {
    background: url(../img/svg-device/user.svg) left center no-repeat;
}
.main-header .sign-out {
    opacity: 0.3;
    padding-left: 0;
}
.user-navigation .login-link:hover,
.user-navigation .compare-link:hover,
.user-navigation .basket-link:hover,
.main-header .user-name:hover,
.site-navigation a:hover {
    opacity: 0.6;
}
.user-navigation .login-link:active,
.user-navigation .compare-link:active,
.user-navigation .basket-link:active,
.main-header .user-name:active,
.site-navigation a:active {
    opacity: 0.3;
}
.site-navigation {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.site-navigation a {
    display: block;
    font-family: "Gilroy", Arial, sans-serif;
    font-size: 18px;
    line-height: 24px;
    font-weight: 800;
    text-transform: uppercase;
    letter-spacing: 0.2em;
}
.catalog-menu {
    position: relative;
    margin-right: 180px;
}
.catalog-menu:hover .catalog-sub-menu {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.catalog-menu a {
    padding-right: 40px;
    background: url(../img/svg-device/plus.svg) right center no-repeat;
}
.catalog-sub-menu {
    position: absolute;
    width: 1100px;
    min-height: 165px;
    left: -61px;
    background: #f7e296;
    padding-left: 60px;
    z-index: 99;
    display: none;
}
.catalog-sub-menu li {
    margin-right: 40px;
}
.catalog-sub-menu a {
    font-family: "Open Sans", Arial, sans-serif;
    font-size: 15px;
    line-height: 36px;
    font-weight: 300;
    text-transform: none;
    background: none; /* Унаследованы от родителя */
    padding-right: 0; /* Унаследованы от родителя */
    letter-spacing: 0; /* Унаследованы от родителя */
}

/* Section Slider */
.slider-list,
.slider-descr ul {
    margin: 0;
    padding: 0;
    list-style: none;
}
.slider-section {
    position: relative;
    top: -115px;
    width: 1040px;
    min-height: 495px;
    margin: 0 auto;
    margin-bottom: -17px;
}
.slider-controls label {
  display: inline-block;
  width: 12px;
  height: 12px;
  margin-right: 15px;
  vertical-align: top;
  background-image: url(../img/svg-device/slider-button-empty.svg);
  background-size: 12px;
  cursor: pointer;
}
.slider-controls {
  position: absolute;
  right: 10px;
  bottom: 150px;
  z-index: 20;
}
.slider-image {
    height: 480px;
}
.slider-item {
  display: none;
}
#product-1:checked ~ .slider-list #slide1,
#product-2:checked ~ .slider-list #slide2,
#product-3:checked ~ .slider-list #slide3 {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
}
#product-1:checked ~ .slider-controls label[for="product-1"],
#product-2:checked ~ .slider-controls label[for="product-2"],
#product-3:checked ~ .slider-controls label[for="product-3"] {
  background-image: url(../img/svg-device/slider-button.svg);
}
.slider-image {
    width: 500px;
}
.slider-descr {
    width: 500px;
    padding-top: 80px;
}
.slider-descr h2 {
    position: relative;
    margin: 0 0 20px 0;
    font-family: "Gilroy", Arial, sans-serif;
    font-size: 47px;
    line-height: 56px;
    font-weight: 800;
    color: #000;
    z-index: 10;
}
.slider-descr h2::before {
    content: "";
    position: absolute;
    top: -40px;
    left: 0;
    width: 100px;
    height: 7px;
    background-color: #fff;
}
.slider-descr h2::after {
    content: "01";
    position: absolute;
    top: -92px;
    right: -10px;
    font-size: 180px;
    line-height: 180px;
    font-family: "Gilroy", Arial, sans-serif;
    color: #fff;
    z-index: -1;
}
.slider-descr p {
    margin: 0 0 40px 0;
    font-family: "Open Sans", Arial, sans-serif;
    font-size: 15px;
    line-height: 30px;
    font-weight: 300;
    color: #464646;
}
.slider-descr ul {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-top: 50px;
}
.slider-descr li {
    margin-right: 80px;
}
.slider-descr li:nth-child(3) {
    margin-right: 0;
}
.slider-descr .slider-feature-value {
    margin: 0 0 10px 0;
    font-family: "Gilroy", Arial, sans-serif;
    font-size: 36px;
    line-height: 48px;
    font-weight: 300;
    color: #000;
}
.slider-descr .slider-feature-info {
    margin: 0;
    font-family: "Open Sans", Arial, sans-serif;
    font-size: 13px;
    line-height: 20px;
    font-weight: 300;
    color: #464646;
}

/* Section Popular */
.popular {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    min-height: 240px;
    margin-bottom: 80px;
}
.popular-item {
    width: 160px;
    min-height: 220px;
}
.popular-item:nth-child(2) img {
    align-self: flex-end;
} 

.popular-img-block {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 160px;
    min-height: 160px;
    margin-bottom: 33px;
    background-color: #f7e296;
}
.align-self-img img {
    align-self: flex-end;
}
.popular-item:hover .popular-img-block {
    background-color: #f0c52e;
}
.popular-item:active {
    opacity: 0.3;
}
.popular-item h3 {
    margin: 0;
    font-family: "Gilroy", Arial, sans-serif;
    font-size: 18px;
    line-height: 24px;
    font-weight: 800;
}
.popular-item:active img,
.popular-item:active h3 {
    opacity: 0.3;
}

/* Section Services */
.services {
    min-height: 390px;
    margin-bottom: 30px;
    background: linear-gradient(to top, #e5e5e5 75%, #fff 25%);
}
.services .container {
    width: 1160px;
    padding: 0 20px;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
}
.service-control {
    width: 277px;
    position: relative;
    padding-top: 80px;
}
.service-button {
    width: 110px;
    padding: 8px 25px;
    margin-bottom: 25px;
}
.service-control::after {
    content: "";
    position: absolute;
    top: 0;
    right: -7px;
    width: 7px;
    height: 320px;
    background: #000;
}
.service-button:active {
    opacity: 1; /* Унаследована от родителя */
}
.service-inner {
    width: 760px;
    margin: 0;
    padding: 75px 0 0 0;
    list-style: none;
}
.service-item {
    display: none;
    min-height: 210px;
}
#services-btn-1:checked ~ .service-inner #service1,
#services-btn-2:checked ~ .service-inner #service2,
#services-btn-3:checked ~ .service-inner #service3 {
    display: block;
}
#services-btn-1:checked ~ .service-control label[for="services-btn-1"],
#services-btn-2:checked ~ .service-control label[for="services-btn-2"],
#services-btn-3:checked ~ .service-control label[for="services-btn-3"] {
    color: #f7e184;
    background: #000;
    padding-right: 145px;
}
#services-btn-1:checked ~ .service-control label[for="services-btn-1"]:after,
#services-btn-2:checked ~ .service-control label[for="services-btn-2"]:after,
#services-btn-3:checked ~ .service-control label[for="services-btn-3"]:after {
    background: none;
}
.service-delivery {
    background: url(../img/svg-device/delivery.svg) 90% 10px no-repeat;
}
.service-warranty {
    background: url(../img/svg-device/warranty.svg) 90% top no-repeat;
}
.service-credit {
    background: url(../img/svg-device/credit.svg) 90% top no-repeat;
}
.services .service-title {
    margin: 0 0 30px 0;
    font-family: "Gilroy", Arial, sans-serif;
    font-size: 47px;
    line-height: 48px;
    font-weight: 800;
    color: #000;
}
.service-item p {
    margin: 0;
    width: 440px;
    font-family: "Open Sans", Arial, sans-serif;
    font-size: 15px;
    line-height: 30px;
    font-weight: 300;
    color: #464646;
}

/* Section Logotypes */
.logotypes {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    min-height: 147px;
    padding-top: 63px;
}
.logotypes a {
    display: block;
    width: 260px;
    height: 100px;
    background: url(../img/logo-sprite.png) 0 0 no-repeat;
}
.logotypes a:nth-of-type(2) {
    background: url(../img/logo-sprite.png) 0 -220px no-repeat;
}
.logotypes a:nth-of-type(3) {
    background: url(../img/logo-sprite.png) 0 -420px no-repeat;
}
.logotypes a:nth-of-type(4) {
    background: url(../img/logo-sprite.png) 0 -620px no-repeat;
}
.logotypes a:hover:nth-of-type(1) {
    background: url(../img/logo-sprite.png) 0 -100px no-repeat;
}
.logotypes a:hover:nth-of-type(2) {
    background: url(../img/logo-sprite.png) 0 -320px no-repeat;
}
.logotypes a:hover:nth-of-type(3) {
    background: url(../img/logo-sprite.png) 0 -520px no-repeat;
}
.logotypes a:hover:nth-of-type(4) {
    background: url(../img/logo-sprite.png) 0 -720px no-repeat;
}

/* Section About Us */
.main-about-us {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    min-height: 550px;
    margin-bottom: 50px;
    padding-top: 100px;
}
.main-about-us h2 {
    position: relative;
    margin: 0 0 40px 0;
    font-family: "Gilroy", Arial, sans-serif;
    font-size: 47px;
    line-height: 48px;
    font-weight: 800;
    color: #000;
}
.main-about-us h2::before {
    content: "";
    position: absolute;
    top: -55px;
    left: 0;
    width: 80px;
    height: 7px;
    background-color: #000;
}
.main-about-us p {
    margin: 0 0 30px 0;
    font-family: "Open Sans", Arial, sans-serif;
    font-size: 15px;
    line-height: 30px;
    font-weight: 300;
    color: #464646;
}
.info-nav {
    margin: 65px 0 55px 0;
    padding: 0;
    list-style: none;
}
.info-nav li {
    padding-left: 35px;
    font-family: "Gilroy", Arial, sans-serif;
    font-size: 16px;
    line-height: 40px;
    font-weight: 800;
    color: #000;
    background: url(../img/info-nav-marker.png) left center no-repeat;
}
.section-info {
    width: 490px;
}
.section-contact {
    width: 560px;
}
.section-contact img {
    margin-bottom: 70px;
}

/* Footer */
.main-footer {
    min-height: 320px;
    padding: 60px 0;
    background-color: #464646;
    color: #fff;
}
.main-footer .container {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
}
.footer-top,
.footer-middle,
.footer-bottom {
    display: flex;

}
.footer-top {
    justify-content: space-between;
}
.footer-top .footer-logo {
    padding: 0;
    font-family: "Gilroy", Arial, sans-serif;
    font-size: 48px;
    line-height: 48px;
    font-weight: 800;
    color: #ffc600;
    text-transform: uppercase;
    opacity: 1;
}
.footer-top .footer-logo:hover {
    opacity: 0.6;
}
.footer-top .footer-logo:active {
    opacity: 0.3;
}
.footer-top ul {
    margin: 0;
    padding: 5px 0;
    list-style: none;
    display: flex;
    flex-wrap: wrap;
}
.footer-top li {
    margin-left: 39px;
}
.footer-top a {
    padding-left: 25px;
    font-family: "Open Sans", Arial, sans-serif;
    font-size: 15px;
    line-height: 30px;
    font-weight: 300;
    color: #fff;
    opacity: 0.7;

}
.footer-top a:hover {
    opacity: 1;
}
.footer-top a:active {
    opacity: 0.3;
}
.footer-top .login-link {
    background: url(../img/footer-user.png) left center no-repeat;
}
.footer-top .compare-link {
    background: url(../img/footer-compare.png) left center no-repeat;
}
.footer-top .basket-link {
    background: url(../img/footer-cart.png) left center no-repeat;
}
.footer-middle {
    flex-wrap: nowrap;
    justify-content: space-between;
    margin-bottom: 60px;
}
.footer-middle b {
    margin-top: 23px;
    font-family: "Open Sans", Arial, sans-serif;
    font-size: 15px;
    line-height: 30px;
    font-weight: 300;
    color: #fff;
}
.footer-middle ul {
    width: 460px;
    margin: 29px 0 0 0;
    padding: 0;
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
}
.footer-middle li {
    margin-right: 30px;
}
.footer-middle li:last-child {
    margin-right: 0;
}
.footer-middle a {
    font-family: "Gilroy", Arial, sans-serif;
    font-size: 18px;
    line-height: 24px;
    font-weight: 800;
    text-transform: uppercase;
    color: #fff;
    letter-spacing: 0.2em;
}
.footer-middle a:hover {
    opacity: 0.6;
}
.footer-middle a:active {
    opacity: 0.3;
}
.footer-bottom {
    position: relative;
    display: flex;
    flex-wrap: nowrap;
    justify-content: flex-end;
}
.footer-bottom::after {
    content: "";
    position: absolute;
    top: 17px;
    left: 0;
    width: 80px;
    height: 7px;
    background: #ffc600;
}
.footer-social {
    width: 160px;
    margin-right: 140px;
    padding: 5px 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;

}
.footer-social .social-button {
    display: block;
    width: 32px;
    height: 32px;
    opacity: 0.3;
    background-position: 50% 50%;
}
.social-fb {
    background-image: url(../img/svg-device/fb.svg);
}
.social-insta {
    background-image: url(../img/svg-device/instagram.svg);
}
.social-tw {
    background-image: url(../img/svg-device/twitter.svg);
}
.social-fb:hover,
.social-insta:hover,
.social-tw:hover {
    opacity: 0.6;
}
.social-fb:active,
.social-insta:active,
.social-tw:active {
    opacity: 0.1;
}
.academy-logo {
    width: 360px;
    text-align: right;
}
.academy-logo a {
    opacity: 1;
}
.academy-logo a:hover {
    opacity: 0.6;
}
.academy-logo a:active {
    opacity: 0.3;
}



.modal-write-us label {
    font-family: "Gilroy", Arial, sans-serif;
    font-size: 18px;
    line-height: 24px;
    font-weight: 800;
}

/* catalog.html */

.inner-page .main-header {
    min-height: 185px;
}

.page-container {
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.page-title {
    margin: 35px 0 25px 60px;
    font-family: "Gilroy", Arial, sans-serif;
    font-size: 47px;
    line-height: 48px;
    font-weight: 800;
    color: #000;
}
.breadcrumbs {
    margin: 0 0 45px 60px;
    padding: 0;
    list-style: none;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: baseline;
}
.breadcrumbs li {
    padding-right: 40px;
    background: url(../img/svg-device/nav-arrow.svg) 85% center no-repeat;
}
.breadcrumbs li:last-child {
    background: none;
}
.breadcrumbs a,
.breadcrumbs-current {
    font-family: "Open Sans", Arial, sans-serif;
    font-size: 14px;
    line-height: 24px;
    font-weight: 400;
    opacity: 0.3;
}
.breadcrumbs a:hover {
    opacity: 0.6;
}
.breadcrumbs a:active {
    opacity: 0.1;
}
.page-content {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
}
.page-content h3 {
    margin: 0;
    font-family: "Gilroy", Arial, sans-serif;
    font-size: 16px;
    line-height: 24px;
    font-weight: 800;
    color: #000;
    text-transform: uppercase;
    letter-spacing: 1px;
}
.filters-section {
    width: 270px;
    padding-left: 60px;
    background-color: #efefef;
}
.filters-section h3 {
    background-color: #dbdbdb;
    padding: 23px 0;
    margin-bottom: 70px;
}
.catalog-filter fieldset {
    margin: 0;
    padding: 0;
    list-style: none;
    border: none;
}
.catalog-filter fieldset:last-of-type {
    margin: 35px 0 30px;
}
.catalog-filter legend {
    position: relative;
    margin-bottom: 20px;
    padding-top: 11px;
    font-family: "Gilroy", Arial, sans-serif;
    font-size: 18px;
    line-height: 24px;
    font-weight: 800;
    color: #000;
}
.filters-section legend::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 200px;
    height: 2px;
    background: #000;
}
.range-filter {
  width: 200px;
  height: 80px;
}
.range-controls {
  position: relative;
  padding-top: 14px;
}
.range-controls .scale {
  height: 2px;
  background: #d7dcde;
}
.range-controls .bar {
  width: 60%;
  height: 2px;
  background: #91c92f;
}
.range-controls .toggle {
  position: absolute;
  top: 4px;
  left: 0;
  width: 4px;
  height: 4px;
  padding: 0;
  border: 8px solid #ffffff;
  background-color: #ababab;
  border-radius: 50%;
  box-shadow: 0 2px 1px 0 #cfcfcf;
  cursor: pointer;
}
.range-controls .toggle-max {
  left: 110px;
}
.price-controls {
  margin-top: 10px;
  font-size: 0;
}
.price-controls label {
  display: inline-block;
  font-size: 14px;
  line-height: 24px;
  font-family: "Gilroy", Arial, sans-serif;
  font-weight: 300;
  color: #000;
  opacity: 0.3;
  vertical-align: top;
}
.price-controls input {
  width: 60px;
  border: none;
  background: none;
}
.filter-option {
    padding-left: 40px;
}
.filter-option label {
    position: relative;
    display: block;
    cursor: pointer;
    user-select: none;
    font-family: "Open Sans", Arial, sans-serif;
    font-size: 14px;
    line-height: 40px;
    font-weight: 400;
    color: #000;
}
.filter-input-checkbox + label::before {
    content: '';
    position: absolute;
    top: 2px;
    left: -43px;
    width: 32px;
    height: 32px;
    background: url(../img/svg-device/checkbox-off.svg) center center no-repeat;
}
.filter-input-checkbox:checked + label::after {
    content: '';
    position: absolute;
    top: 2px;
    left: -41px;
    width: 32px;
    height: 32px;
    background: url(../img/svg-device/checkbox-on.svg) center center no-repeat;
}
.filter-input-checkbox:checked + label::before {
    background: none;
}
.filter-input-radio + label::before {
    content: '';
    position: absolute;
    top: 2px;
    left: -43px;
    width: 32px;
    height: 32px;
    background: url(../img/svg-device/radio-off.svg) center center no-repeat;
}
.filter-input-radio:checked + label::after {
    content: '';
    position: absolute;
    top: 2px;
    left: -43px;
    width: 32px;
    height: 32px;
    background: url(../img/svg-device/radio-on.svg) center center no-repeat;
}
.filter-button {
    background: none;
    border: none;
    outline: none;
}
.catalog-section {
    width: 760px;
}
.sort-block {
    background-color: #ebebeb;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: baseline;
    padding: 23px 0;
}
.sort-block h3 {
    margin-right: 45px;
}
.sort-block ul {
    margin: 0;
    margin-right: 165px;
    padding: 0;
    list-style: none;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: baseline;
}
.sort-block .sort-current,
.sort-block a {
    font-family: "Open Sans", Arial, sans-serif;
    font-size: 14px;
    line-height: 18px;
    font-weight: 300;
    color: #000;
    opacity: 0.3;
    margin-right: 23px;
}
.sort-block a:hover {
    opacity: 0.6;
}
.sort-block .sort-current,
.sort-block a:active {
    opacity: 1;
}
.sort-arrows {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}
.arrow-up {
    background: url(../img/svg-device/icon-up-dir.svg) center center no-repeat;
}
.arrow-down {
    background: url(../img/svg-device/icon-down-dir.svg) center center no-repeat;
}
.sort-arrows .arrow-up,
.sort-arrows .arrow-down {
    width: 11px;
    height: 12px;
    opacity: 0.2;
    margin-right: 0;
    margin-left: 20px;
}
.arrow-up:hover,
.arrow-down:hover {
    opacity: 0.4;
}
.arrow-up:active,
.arrow-down:active {
    opacity: 1;
}
.catalog-content {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding-top: 70px;
}
.product-name {
    font-family: "Gilroy", Arial, sans-serif;
    font-size: 18px;
    line-height: 24px;
    font-weight: 800;
    color: #000;
}
.product-price {
    font-family: "Gilroy", Arial, sans-serif;
    font-size: 16px;
    line-height: 24px;
    font-weight: 300;
}
.catalog-item {
    width: 360px;
    min-height: 460px;
    margin: 0 40px 40px 0;
}
.catalog-item:nth-child(2n) {
    margin-right: 0;
}
.catalog-item-img {
    position: relative;
    width: 360px;
    height: 380px;
    margin-bottom: 25px;
}
.catalog-item-img:hover .catalog-item-hover {
    display: block;
}
.catalog-item-hover {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    text-align: center;
    width: 360px;
    height: 380px;
    cursor: pointer;
    background: rgba(238,238,238,0.7);
}
.catalog-item-hover a {
    font-family: "Open Sans", Arial, sans-serif;
    font-size: 13px;
    line-height: 36px;
    font-weight: 300;
    color: #000;
    opacity: 0.5;
}
.catalog-item-hover a:hover {
    opacity: 1;
}
.catalog-item-hover a:active {
    opacity: 0.2;
}
.catalog-item-button {
    display: block;
    margin: 170px auto 0;
    border: none;
    background: none;
    outline: none;
}
.catalog-item-descr {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
}
.catalog-paginator {
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100%;
    min-height: 70px;
    margin-bottom: 75px;
    background-color: #ebebeb;
    text-align: center;
}
.catalog-paginator a {
    font-family: "Gilroy", Arial, sans-serif;
    font-size: 16px;
    line-height: 24px;
    font-weight: 800;
    color: #000;
}
.paginator-item {
    opacity: 0.3;
    margin: 0 15px;
}
.paginator-item:hover {
    opacity: 0.6;
}
.paginator-item:active {
    opacity: 1;
}
.paginator-item-current {
    color: #000;
    opacity: 1;
}
.paginator-prev,
.paginator-next {
    position: absolute;
    top: 0;
    width: 125px;
    text-transform: uppercase;
    letter-spacing: 0.2em;
    padding: 23px 0;
}
.paginator-prev {
    left: 0;
}
.paginator-next {
    right: 0;
}
.paginator-prev:hover,
.paginator-next:hover {
    background: rgba(0,0,0,0.08);
}
.paginator-prev:active,
.paginator-next:active {
    opacity: rgba(0,0,0,0.08);
}

.footer-top .user-name {
    background: url(../img/footer-user.png) left center no-repeat;
}
.footer-top .sign-out {
     opacity: 0.3;
     padding-left: 0;
}





