@font-face {
    font-family: 'Open Sans';
    src: url('../fonts/opensans.eot');
    src: url('../fonts/opensans.eot?#iefix') format('embedded-opentype'),
         url('../fonts/opensans.woff') format('woff'),
         url('../fonts/opensans.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Open Sans';
    src: url('../fonts/opensanslight.eot');
    src: url('../fonts/opensanslight.eot?#iefix') format('embedded-opentype'),
         url('../fonts/opensanslight.woff') format('woff'),
         url('../fonts/opensanslight.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Gilroy';
    src: url('../fonts/gilroyextrabold.eot');
    src: url('../fonts/gilroyextrabold.eot?#iefix') format('embedded-opentype'),
         url('../fonts/gilroyextrabold.woff') format('woff'),
         url('../fonts/gilroyextrabold.ttf') format('truetype');
    font-weight: 800;
    font-style: normal;
}

@font-face {
    font-family: 'Gilroy';
    src: url('../fonts/gilroylight.eot');
    src: url('../fonts/gilroylight.eot?#iefix') format('embedded-opentype'),
         url('../fonts/gilroylight.woff') format('woff'),
         url('../fonts/gilroylight.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}

body {
    margin: 0;
    padding: 0;
    font-family: "Gilroy", Arial, sans-serif;
    font-size: 18px;
    line-height: 24px;
    font-weight: 800;
    font-style: normal;
    color: #000;

    background-color: #fff;
}

a {
    text-decoration: none;
    color: #000;
}
.container {
    width: 1160px;
    padding: 0 20px;
    margin: 0 auto;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    overflow: hidden;
}


.button {
    font-family: "Gilroy", Arial, sans-serif;
    font-size: 18px;
    line-height: 24px;
    font-weight: 800;
    text-transform: uppercase;
    text-align: center;
    border: none;
    background-color: #f0c52e;
    color: #000;
}

/* HEADER */
.main-header {
    width: 1158px;
    min-height: 300px;
    margin: 0 auto;
    margin-top: 40px;
    background-color: #f7e296;
    border: 1px solid transparent;
}
.header-wrapper {
    width: 1040px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
}
.header-logo {
    width: 175px;
    margin: -25px 0 12px 0;
    font-family: "Gilroy", Arial, sans-serif;
    font-size: 48px;
    line-height: 48px;
    font-weight: 800;
    text-transform: uppercase;
}
.header-logo:hover {
    opacity: 0.6;
}
.header-logo:active {
    opacity: 0.3;
}
.main-navigation {
    display: flex;
    justify-content: space-between; 
    margin-bottom: 30px;
}
.search-form {
    width: 440px;
    font-size: 0;
}
.search-form input[type="search"] {
    font-size: 15px;
    line-height: 30px;
    background: none;
    border: none;
    outline: none;
    padding: 8px 0 8px 40px;
    background: url(../img/svg-device/search.svg) 2px center no-repeat ;
}
.search-form input[type="submit"] {
    font-size: 15px;
    line-height: 30px;
    display: none;
}
.user-navigation,
.site-navigation,
.catalog-sub-menu {
    margin: 0;
    padding: 0;
    list-style: none;
}
.user-navigation {
    width: 500px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.user-navigation li {
    padding: 7px 0;
}
.user-navigation a {
    display: block;
    padding-left: 27px;
    font-family: "Open Sans", Arial, sans-serif;
    font-size: 15px;
    line-height: 30px;
    font-weight: 300;
    color: #000;
}
.user-navigation .login-link {
    margin-right: 170px;
    background: url(../img/svg-device/user.svg) left center no-repeat;
}
.user-navigation .compare-link {
    background: url(../img/svg-device/compare.svg) 8px center no-repeat;
}
.user-navigation .basket-link {
    background: url(../img/svg-device/cart.svg) left center no-repeat;
}
.user-navigation .login-link:hover,
.user-navigation .compare-link:hover,
.user-navigation .basket-link:hover,
.user-navigation .site-navigation a:hover {
    opacity: 0.6;
}
.login-link:active,
.compare-link:active,
.basket-link:active,
.site-navigation a:active {
    opacity: 0.3;
}
.site-navigation {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.site-navigation a {
    display: block;
    font-family: "Gilroy", Arial, sans-serif;
    font-size: 18px;
    line-height: 24px;
    font-weight: 800;
    text-transform: uppercase;
}
.catalog-menu {
    position: relative;
    margin-right: 180px;
}
.catalog-menu a {
    padding-right: 40px;
    letter-spacing: 3px;
    background: url(../img/svg-device/plus.svg) right center no-repeat;
}
.catalog-sub-menu {
    position: absolute;
    width: 1100px;
    min-height: 165px;
    left: -60px;
    background: #f7e296;
    padding-left: 60px;
    z-index: 10;
    display: none;
}
.catalog-sub-menu a {
    font-family: "Open Sans", Arial, sans-serif;
    font-size: 15px;
    line-height: 36px;
    font-weight: 300;
    text-transform: none;
    background: none; /* Унаследованы от родителя */
    padding-right: 0; /* Унаследованы от родителя */
    letter-spacing: 0; /* Унаследованы от родителя */
}

/* Section Slider */
.slider-control-block {
    display: none;
}
.slider-content,
.slider-descr ul {
    margin: 0;
    padding: 0;
    list-style: none;
}
.slider-section {
    width: 1040px;
    min-height: 490px;
    margin: 0 auto;
    margin-bottom: -14px;
    position: relative;
    top: -115px;
}
.slider-item {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
}
.slider-image {
    width: 500px;
}
.slider-descr {
    width: 500px;
    padding-top: 80px;
}
.slider-descr h2 {
    position: relative;
    margin: 0 0 20px 0;
    font-family: "Gilroy", Arial, sans-serif;
    font-size: 47px;
    line-height: 56px;
    font-weight: 800;
    color: #000;
    z-index: 1;
}
.slider-descr h2::before {
    content: "";
    position: absolute;
    top: -40px;
    left: 0;
    width: 100px;
    height: 7px;
    background-color: #fff;
}
.slider-descr h2::after {
    content: "01";
    position: absolute;
    top: -92px;
    right: -10px;
    font-size: 180px;
    line-height: 180px;
    font-family: "Gilroy", Arial, sans-serif;
    color: #fff;
    z-index: 0;
}
.slider-descr p {
    margin: 0;
    font-family: "Open Sans", Arial, sans-serif;
    font-size: 15px;
    line-height: 30px;
    font-weight: 300;
    color: #464646;
}
.slider-descr ul {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}
.slider-descr li {
    margin-right: 45px;
}
.slider-descr .slider-feature-value {
    font-family: "Gilroy", Arial, sans-serif;
    font-size: 36px;
    line-height: 48px;
    font-weight: 300;
    color: #000;
}
.slider-descr .slider-feature-info {
    font-family: "Open Sans", Arial, sans-serif;
    font-size: 13px;
    line-height: 20px;
    font-weight: 300;
    color: #464646;
}

/* Section Popular */
.popular {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    min-height: 240px;
    margin-bottom: 80px;
}
.popular-item {
    width: 160px;
    min-height: 220px;
}
.popular-item:nth-child(2) img {
    align-self: flex-end;
} 

.popular-img-block {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 160px;
    min-height: 160px;
    margin-bottom: 33px;
    background-color: #f7e296;
}
.align-self-img img {
    align-self: flex-end;
}
.popular-item:hover .popular-img-block {
    background-color: #f0c52e;
}
.populat-item:active {
    opacity: 0.3;
}
.popular-item h3 {
    margin: 0;
    font-family: "Gilroy", Arial, sans-serif;
    font-size: 18px;
    line-height: 24px;
    font-weight: 800;
}
.popular-item:active img,
.popular-item:active h3 {
    opacity: 0.3;
}

/* Section Services */
.services {
    min-height: 390px;
    margin-bottom: 30px;
    background: linear-gradient(to top, #e5e5e5 75%, #fff 25%);
}
.services .container {
    width: 1160px;
    padding: 0 20px;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
}
.service-control {
    width: 277px;
    min-height: 320px;
    position: relative;
}
.service-control::after {
    content: "";
    position: absolute;
    top: 0;
    right: -7px;
    width: 7px;
    height: 320px;
    background: #000;
}
.service-inner {
    width: 760px;
    margin: 0;
    padding: 75px 0 0 0;
    list-style: none;
}
.service-item {
    min-height: 210px;
}
.service-delivery {
    background: url(../img/svg-device/delivery.svg) 90% 10px no-repeat;
}
.service-warranty {
    background: url(../img/svg-device/warranty.svg) 90% top no-repeat;
}
.service-credit {
    background: url(../img/svg-device/credit.svg) 90% top no-repeat;
}
.services .service-title {
    margin: 0;
    margin-bottom: 30px;
    font-family: "Gilroy", Arial, sans-serif;
    font-size: 47px;
    line-height: 48px;
    font-weight: 800;
    color: #000;
}
.service-item p {
    margin: 0;
    width: 440px;
    font-family: "Open Sans", Arial, sans-serif;
    font-size: 15px;
    line-height: 30px;
    font-weight: 300;
    color: #464646;
}

/* Section Logotypes */
.logotypes {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    min-height: 147px;
    padding-top: 63px;
}
.logotypes a {
    display: block;
    width: 260px;
    height: 100px;
    background: url(../img/logo-sprite.png) 0 0 no-repeat;
}
.logotypes a:nth-of-type(2) {
    background: url(../img/logo-sprite.png) 0 -220px no-repeat;
}
.logotypes a:nth-of-type(3) {
    background: url(../img/logo-sprite.png) 0 -420px no-repeat;
}
.logotypes a:nth-of-type(4) {
    background: url(../img/logo-sprite.png) 0 -620px no-repeat;
}
.logotypes a:hover:nth-of-type(1) {
    background: url(../img/logo-sprite.png) 0 -100px no-repeat;
}
.logotypes a:hover:nth-of-type(2) {
    background: url(../img/logo-sprite.png) 0 -320px no-repeat;
}
.logotypes a:hover:nth-of-type(3) {
    background: url(../img/logo-sprite.png) 0 -520px no-repeat;
}
.logotypes a:hover:nth-of-type(4) {
    background: url(../img/logo-sprite.png) 0 -720px no-repeat;
}

/* Section About Us */
.main-about-us {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    min-height: 550px;
    margin-bottom: 50px;
    padding-top: 100px;
}
.main-about-us h2 {
    position: relative;
    margin: 0;
    margin-bottom: 40px;
    font-family: "Gilroy", Arial, sans-serif;
    font-size: 47px;
    line-height: 48px;
    font-weight: 800;
    color: #000;
}
.main-about-us h2::before {
    content: "";
    position: absolute;
    top: -55px;
    left: 0;
    width: 80px;
    height: 7px;
    background-color: #000;
}
.main-about-us p {
    margin: 0;
    margin-bottom: 30px;
    font-family: "Open Sans", Arial, sans-serif;
    font-size: 15px;
    line-height: 30px;
    font-weight: 300;
    color: #464646;
}
.section-info {
    width: 460px;
}
.section-contact {
    width: 560px;
}
.info-nav {
    margin: 0;
    margin-top: 35px;
    padding: 0;
    list-style: none;
}
.info-nav li {
    padding-left: 35px;
    font-family: "Gilroy", Arial, sans-serif;
    font-size: 16px;
    line-height: 40px;
    font-weight: 800;
    color: #000;
    background: url(../img/info-nav-marker.png) left center no-repeat;
}

/* Footer */
.main-footer {
    min-height: 220px;
    padding: 60px 0;
    background-color: #464646;
    color: #fff;
}
.main-footer .container {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
}
.main-footer b {
    display: block;
    margin-top: 23px;
    font-family: "Open Sans", Arial, sans-serif;
    font-size: 15px;
    line-height: 30px;
    font-weight: 300;
    color: #fff;
}
.main-footer a {
    color: #fff;
}
.footer-left {
    width: 300px;
    margin-right: 40px;
    display: flex;
    flex-direction: column;
    position: relative;
}
.footer-left .footer-logo {
    position: relative;
    font-family: "Gilroy", Arial, sans-serif;
    font-size: 48px;
    line-height: 48px;
    font-weight: 800;
    color: #ffc600;
    text-transform: uppercase;
}
.footer-left::after {
    content: "";
    position: absolute;
    bottom: -50px;
    left: 0;
    width: 80px;
    height: 7px;
    background: #ffc600;
}
.footer-left .footer-logo:hover {
    opacity: 0.6;
}
.footer-left .footer-logo:active {
    opacity: 0.3;
}
.footer-center ul,
.footer-right ul {
    margin: 0;
    padding: 0;
    list-style: none;
}
.footer-center {
    width: 440px;
    padding-top: 77px;
}
.footer-center ul {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-bottom: 60px;
}
.footer-center a {
    font-family: "Gilroy", Arial, sans-serif;
    font-size: 18px;
    line-height: 24px;
    font-weight: 800;
    text-transform: uppercase;
}
.footer-center a:hover {
    opacity: 0.6;
}
.footer-center a:active {
    opacity: 0.3;
}
.footer-social {
    width: 160px;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin: auto;
}
.footer-social .social-button {
    display: block;
    width: 32px;
    height: 32px;
    opacity: 0.3;
    background-position: 50% 50%;
}
.social-fb {
    background-image: url(../img/svg-device/fb.svg);
}
.social-insta {
    background-image: url(../img/svg-device/instagram.svg);
}
.social-tw {
    background-image: url(../img/svg-device/twitter.svg);
}
.social-fb:hover,
.social-insta:hover,
.social-tw:hover {
    opacity: 0.6;
}
.social-fb:active,
.social-insta:active,
.social-tw:active {
    opacity: 0.1;
}
.footer-right ul {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.footer-right a {
    display: block;
    font-family: "Open Sans", Arial, sans-serif;
    font-size: 15px;
    line-height: 30px;
    font-weight: 300;
    opacity: 0.7;

}
.footer-right a:hover {
    opacity: 1;
}
.footer-right a:active {
    opacity: 0.3;
}
.footer-right .login-link {
    padding-left: 20px;
    background: url(../img/svg-device/footer-user.svg) left center no-repeat;
}
.footer-right .academy-logo {
    opacity: 1;
}
.footer-right .academy-logo:hover {
    opacity: 0.6;
}
.footer-right .academy-logo:active {
    opacity: 0.3;
}
.footer-right {
    width: 330px;
}
.modal-write-us label {
    font-family: "Gilroy", Arial, sans-serif;
    font-size: 18px;
    line-height: 24px;
    font-weight: 800;
}

/* catalog.html */

.user-navigation .sign-out {
    opacity: 0.3;
}

.page-title {
    margin: 0;
    font-family: "Gilroy", Arial, sans-serif;
    font-size: 47px;
    line-height: 48px;
    font-weight: 800;
    color: #000;
}
.breadcrumbs {
    margin: 0;
    padding: 0;
    list-style: none;
}
.breadcrumbs a,
.breadcrumbs-current {
    font-family: "Open Sans", Arial, sans-serif;
    font-size: 14px;
    line-height: 24px;
    font-weight: 400;
    opacity: 0.3;
}
.breadcrumbs a:hover {
    opacity: 0.6;
}
.breadcrumbs a:active {
    opacity: 0.1;
}
.page-content {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
}
.page-content h3 {
    margin: 0;
    font-family: "Gilroy", Arial, sans-serif;
    font-size: 16px;
    line-height: 24px;
    font-weight: 800;
    color: #000;
    text-transform: uppercase;
    letter-spacing: 1px;
}
.filters-section {
    width: 330px;
    background-color: #efefef;
}
.filters-section h3 {
    background-color: #dbdbdb;
}
.filters-section fieldset {
    border: none;
}
.filters-section legend {
    font-family: "Gilroy", Arial, sans-serif;
    font-size: 18px;
    line-height: 24px;
    font-weight: 800;
    color: #000;
}
.filter-option label {
    font-family: "Open Sans", Arial, sans-serif;
    font-size: 14px;
    line-height: 40px;
    font-weight: 400;
    color: #000;
}
.catalog-section {
    width: 760px;
}
.sort-block {
    background-color: #ebebeb;
}
.sort-block ul {
    margin: 0;
    padding: 0;
    list-style: none;
}
.sort-block .sort-current,
.sort-block a {
    font-family: "Open Sans", Arial, sans-serif;
    font-size: 14px;
    line-height: 18px;
    font-weight: 300;
    color: #000;
    opacity: 0.3;
}
.sort-block a:hover {
    opacity: 0.6;
}
.sort-block .sort-current,
.sort-block a:active {
    opacity: 1;
}
.arrow-up,
.arrow-down {
    background: #000;
    opacity: 0.2;
}
.arrow-up:hover,
.arrow-down:hover {
    opacity: 0.4;
}
.arrow-up:active,
.arrow-down:active {
    opacity: 1;
}
.catalog-content {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.product-name {
    font-family: "Gilroy", Arial, sans-serif;
    font-size: 18px;
    line-height: 24px;
    font-weight: 800;
    color: #000;
}
.product-price {
    font-family: "Gilroy", Arial, sans-serif;
    font-size: 16px;
    line-height: 24px;
    font-weight: 300;
}
.catalog-item {
    width: 360px;
    min-height: 460px;
    margin: 0 40px 40px 0;
}
.catalog-item:nth-child(2n) {
    margin-right: 0;
}
.catalog-item-hover a {
    font-family: "Open Sans", Arial, sans-serif;
    font-size: 13px;
    line-height: 20px;
    font-weight: 300;
    color: #000;
    opacity: 0.5;
}
.catalog-item-hover a:hover {
    opacity: 1;
}
.catalog-item-hover a:active {
    opacity: 0.2;
}
.catalog-paginator {
    width: 100%;
    min-height: 70px;
    background-color: #ebebeb;
    text-align: center;
}
.catalog-paginator a {
    font-family: "Gilroy", Arial, sans-serif;
    font-size: 16px;
    line-height: 24px;
    font-weight: 800;
    color: #000;
}
.catalog-paginator .paginator-item {
    opacity: 0.3;
}
.catalog-paginator .paginator-item:hover {
    opacity: 0.6;
}
.catalog-paginator .paginator-item:active {
    opacity: 1;
}
.catalog-paginator .paginator-item-current {
    color: #000;
    opacity: 1;
}






